[submodule "non-packaged-repos/LS_COLORS"]
	path = non-packaged-repos/LS_COLORS
	url = git@github.com:trapd00r/LS_COLORS.git
[submodule "non-packaged-repos/vim-plug"]
	path = non-packaged-repos/vim-plug
	url = git@github.com:junegunn/vim-plug.git
