# bash profile with private data
bash_profile.private
zshrc.private

config/nvim/autoload/plug.vim
config/nvim/init.vim
config/nvim/.init.vim-rplugin~
config/yarn/
config/nvim/.netrwhist
config/configstore/update-notifier-npm.json
config/gh/hosts.yml
config/op/

.idea/
