# development
python3 -m pip install --upgrade pip
export VENV_HOME=~/.venvs

# Neovim
[ -d $VENV_HOME/neovim ] && rm -rf $VENV_HOME/neovim
python3 -m venv $VENV_HOME/neovim
source $VENV_HOME/neovim/bin/activate
python -m pip install --upgrade pip
pip install virtualenv
pip install pynvim
pip install pylama_pylint
pip install -U jedi-language-server
pip install urllib3
deactivate

# super charged AWS cli (https://github.com/donnemartin/saws)
#pip3 install saws - commented out until it supports up to date python
#pip install aws-shell --upgrade --ignore-installed six

# git enhancements
#pip3 install git-sweep # remove mereged branches

# Really cool REPL
pip3 install ptpython
pip3 install boto3
