export PATH="/opt/homebrew/opt/python@3.9/libexec/bin:$PATH"
# development
pip install virtualenv
pip install virtualenvwrapper
export WORKON_HOME=~/work/virtualenvs
source /opt/homebrew//bin/virtualenvwrapper.sh

# Neovim
[ -d $WORKON_HOME/neovim3 ] && rm -rf $WORKON_HOME/neovim3
mkvirtualenv neovim3 || true
pip install pynvim
pip install pylama_pylint
pip install -U jedi-language-server
deactivate

# super charged AWS cli (https://github.com/donnemartin/saws)
#pip3 install saws - commented out until it supports up to date python
#pip install aws-shell --upgrade --ignore-installed six

# git enhancements
pip3 install git-sweep # remove mereged branches

# Really cool REPL
pip3 install ptpython
