brew install brew-pip

# development
pip install virtualenv
pip install virtualenvwrapper
export WORKON_HOME=~/work/virtualenvs
source /usr/local/bin/virtualenvwrapper.sh

# Neovim
[ -d $WORKON_HOME/neovim ] && rm -rf $WORKON_HOME/neovim
mkvirtualenv neovim --python=/usr/local/opt/python@2/bin/python
pip install pynvim
pip install pylama_pylint
deactivate

[ -d $WORKON_HOME/neovim3 ] && rm -rf $WORKON_HOME/neovim3
mkvirtualenv neovim3
pip install pynvim
pip install pylama_pylint
deactivate

# super charged AWS cli (https://github.com/donnemartin/saws)
pip install saws
#pip install aws-shell --upgrade --ignore-installed six

# git enhancements
pip install git-sweep # remove mereged branches

# Really cool REPL
pip install ptpython
